/* Projet programmation web - TP PHP & SQL
  Realise par :
  MECHAI OUIAM         KHELIL MERIEM      AKOUIRADJEMOU OUAIL ABDERRAOUF 
  232331602210         242431575703              222231581410  

 Encadre par : Dr. LAACHEMI 
 */



body {
    font-family: Arial, sans-serif;
    margin: 0;                   
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    
    background-image: url('Auditorium USTHB.jpg'); 
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
    position: relative;
}


body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 0;                   
}

.login-container {
    background: rgba(255, 255, 255, 0.9); 
    padding: 40px;
    width: 360px;

    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);

    text-align: center;

    position: relative;
    z-index: 1;
}

.logo {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

h1 {
    margin-bottom: 5px;
}

.subtitle {
    color: #666;
    margin-bottom: 25px;
}

form {
    text-align: left;
}

label {
    display: block;
    margin-bottom: 6px;
    margin-top: 15px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
}

.options a {
    text-decoration: none;
    color: green;
}

button {
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    background: #2603b3;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #2b04ca;
}


.error {
    display: block;
    color: red;
    margin-top: 10px;
    margin: 0;
}